In [123]:
import csv
import pandas as pd
from datetime import datetime

In [124]:
# with open("crm_revenue.csv", newline="") as f:
#     total_rows = sum(1 for _ in f)

# print("Total lines in file:", total_rows)
# print("Rows loaded into DataFrame:", len(df_crm) + 1)  # +1 for header

Total lines in file: 86
Rows loaded into DataFrame: 85

In [125]:

bad_rows = []
good_rows = []

with open("crm_revenue.csv", newline="", encoding="utf-8") as f:
    reader = csv.reader(f)
    header = next(reader)
    expected_len = len(header)

    for line_num, row in enumerate(reader, start=2):
        if len(row) != expected_len:
            bad_rows.append({
                "line_number": line_num,
                "raw_row": row,
                "field_count": len(row)
            })
        else:
            good_rows.append(row)

print("Malformed rows:", len(bad_rows))
print("First malformed row example:", bad_rows[0] if bad_rows else "None")

Malformed rows: 1
First malformed row example: {'line_number': 20, 'raw_row': ['ORD-10019', 'CUST-6543', 'January 4', ' 2024', '98.75', 'google', 'goog_camp_001', 'Apparel', 'Asia Pacific'], 'field_count': 9}

In [126]:
crmdf= pd.read_csv("crm_revenue.csv",engine="python",on_bad_lines="skip")

In [127]:
# Null check for all the columns
crmdf.isnull().sum()

order_id              0
customer_id           1
order_date            0
revenue               1
channel_attributed    0
campaign_source       1
product_category      0
region                0
dtype: int64

In [128]:
crmdf.head(15)

,order_id,customer_id,order_date,revenue,channel_attributed,campaign_source,product_category,region
0,ORD-10001,CUST-5234,2024-01-01,125.50,google,goog_camp_002,Electronics,North America
1,ORD-10002,CUST-8921,2024-01-01,89.99,facebook,fb_camp_002,Apparel,Europe
2,ORD-10003,CUST-3456,01/01/2024,234.00,google,goog_camp_001,Home & Garden,North America
3,ORD-10004,CUST-7823,2024-01-01,67.50,facebook,fb_camp_001,Apparel,North America
4,ORD-10005,CUST-2341,2024-01-01,445.00,google,goog_camp_002,Electronics,Europe
5,ORD-10006,CUST-9012,2024-01-02,178.25,facebook,fb_camp_002,Home & Garden,North America
6,ORD-10007,CUST-4567,2024-01-02,56.00,google,goog_camp_003,Apparel,Asia Pacific
7,ORD-10008,CUST-6789,2024-01-02,NaN,facebook,fb_camp_001,Electronics,North America
8,ORD-10009,CUST-1234,2024-01-02,312.75,google,goog_camp_002,Electronics,Europe
9,ORD-10010,CUST-8456,2024-01-02,89.00,facebook,fb_camp_002,Apparel,North America
10,ORD-10011,CUST-2345,2024-01-03,156.50,Google,goog_camp_001,Home & Garden,North America
11,ORD-10012,CUST-7890,2024-01-03,78.25,FACEBOOK,fb_camp_003,Apparel,Europe
12,ORD-10013,CUST-3456,2024-01-03,234.00,google,goog_camp_002,Electronics,North America
13,ORD-10014,CUST-5678,2024-01-03,445.75,facebook,fb_camp_002,Electronics,Asia Pacific
14,ORD-10015,CUST-9123,2024-01-03,67.00,google,goog_camp_003,Apparel,North America

In [129]:
# Date Formatting

crmdf["date"] = pd.to_datetime(crmdf["order_date"],errors="coerce",dayfirst=True)

In [131]:
# Required Columns check
required_cols = ["order_id", "customer_id","date","revenue", "channel_attributed"]

missing_required = crmdf[crmdf[required_cols].isnull().any(axis=1)].copy()

missing_required["_dq_reason"] = "missing_required"
missing_required["_failed_rule"] = "required_fields_not_null"

In [132]:
# Invalid Dates
invalid_dates = crmdf[crmdf["date"].isnull()].copy()

invalid_dates["_dq_reason"] = "invalid_format"
invalid_dates["_failed_rule"] = "order_date_parseable"

In [133]:
crmdf["channel_attributed"] = (crmdf["channel_attributed"].str.strip().str.lower())

In [134]:
valid_channels = {"google", "facebook"}

invalid_channel = crmdf[~crmdf["channel_attributed"].isin(valid_channels)].copy()

invalid_channel["_dq_reason"] = "invalid_value"
invalid_channel["_failed_rule"] = "channel_known"

In [135]:
duplicate_orders = crmdf[crmdf.duplicated(subset=["order_id"], keep=False)].copy()

duplicate_orders["_dq_reason"] = "duplicate"
duplicate_orders["_failed_rule"] = "order_id_unique"

In [136]:
crmrejects = pd.concat([missing_required,invalid_dates,invalid_channel,duplicate_orders],ignore_index=True).drop_duplicates()

In [137]:
print(crmrejects)

    order_id customer_id  order_date  revenue channel_attributed  \
0  ORD-10008   CUST-6789  2024-01-02      NaN           facebook
1  ORD-10030         NaN  2024-01-06   189.75           facebook
2  ORD-10021   CUST-5432  2024-01-05   178.00             google
4  ORD-10056   CUST-5432  2024-01-12   389.25           facebook
6  ORD-10071   CUST-9876  2024-01-15   567.00             google

  campaign_source product_category         region       date  \
0     fb_camp_001      Electronics  North America 2024-01-02
1     fb_camp_003    Home & Garden         Europe 2024-01-06
2   goog_camp_002      Electronics  North America 2024-01-05
4     fb_camp_001          Apparel         Europe 2024-01-12
6   goog_camp_002      Electronics  North America 2024-01-15

         _dq_reason              _failed_rule
0  missing_required  required_fields_not_null
1  missing_required  required_fields_not_null
2         duplicate           order_id_unique
4         duplicate           order_id_unique
6         duplicate           order_id_unique

In [138]:
valid_crm = crmdf[ ~crmdf.index.isin(crmrejects.index)].copy()

In [140]:
valid_crm=valid_crm.dropna()

In [141]:
print(valid_crm)

     order_id customer_id  order_date  revenue channel_attributed  \
3   ORD-10004   CUST-7823  2024-01-01    67.50           facebook
5   ORD-10006   CUST-9012  2024-01-02   178.25           facebook
8   ORD-10009   CUST-1234  2024-01-02   312.75             google
9   ORD-10010   CUST-8456  2024-01-02    89.00           facebook
10  ORD-10011   CUST-2345  2024-01-03   156.50             google
..        ...         ...         ...      ...                ...
78  ORD-10078   CUST-9876  2024-01-15   156.25           facebook
79  ORD-10079   CUST-3210  2024-01-15   534.00             google
80  ORD-10080   CUST-7654  15/01/2024    67.75           facebook
82  ORD-10082   CUST-6543  2024-01-15   178.50           facebook
83  ORD-10071   CUST-9876  2024-01-15   567.00             google

   campaign_source product_category         region       date
3      fb_camp_001          Apparel  North America 2024-01-01
5      fb_camp_002    Home & Garden  North America 2024-01-02
8    goog_camp_002      Electronics         Europe 2024-01-02
9      fb_camp_002          Apparel  North America 2024-01-02
10   goog_camp_001    Home & Garden  North America 2024-01-03
..             ...              ...            ...        ...
78     fb_camp_002      Electronics  North America 2024-01-15
79   goog_camp_001          Apparel   Asia Pacific 2024-01-15
80     fb_camp_003    Home & Garden         Europe 2024-01-15
82     fb_camp_001          Apparel  North America 2024-01-15
83   goog_camp_002      Electronics  North America 2024-01-15

[76 rows x 9 columns]

In [86]:
print("Structurally bad rows:", len(bad_rows))
print("Parsed rows:", len(crmdf))
print("Rejected rows:", len(crmrejects))
print("Valid rows:", len(valid_crm))

Structurally bad rows: 1
Parsed rows: 84
Rejected rows: 5
Valid rows: 79

In [85]:
crmrejects.head(5)

,order_id,customer_id,order_date,revenue,channel_attributed,campaign_source,product_category,region,_dq_reason,_failed_rule
0,ORD-10008,CUST-6789,2024-01-02,NaN,facebook,fb_camp_001,Electronics,North America,missing_required,required_fields_not_null
1,ORD-10030,NaN,2024-01-06,189.75,facebook,fb_camp_003,Home & Garden,Europe,missing_required,required_fields_not_null
2,ORD-10021,CUST-5432,2024-01-05,178.00,google,goog_camp_002,Electronics,North America,duplicate,order_id_unique
4,ORD-10056,CUST-5432,2024-01-12,389.25,facebook,fb_camp_001,Apparel,Europe,duplicate,order_id_unique
6,ORD-10071,CUST-9876,2024-01-15,567.00,google,goog_camp_002,Electronics,North America,duplicate,order_id_unique

In [87]:
valid_crm["ingested_at"] = datetime.utcnow()

In [89]:
print(len(valid_crm))

79